extends layout

block content
  div.intro
    h1= title
    p.milk-pun= pun

  div.milk__bottle
    div.percentage 75%
    img.bottle(src="images/milk_80.svg", alt="Milk", height="400")
    div.the-milk__container
      div.the-milky-wave
      div.the-milk