extends layout

block content
  div.intro
    h1= title
    p.milk-pun= pun

  div.milk__bottle
    div.bottle
    div.the-milk__container
      div.the-milky-wave
      div.the-milk
    div.percentage 75%